<div fxLayout="row wrap"  fxLayoutAlign="space-between" fxLayout.xs="column">
  <!-- header contact -->
  <div fxLayout="row" fxLayoutAlign="start center" class="ml-2">
    <mat-icon>call</mat-icon>
    <span class="mx-2">(+91) 987 654 3210</span>
  </div>

  <!-- header address -->
  <div fxLayout="row" fxLayoutAlign="start center" class="ml-2">
    <mat-icon>location_on</mat-icon>
    <span class="mx-2">2903 Avenue Z, MG Marg, DL, India</span>
  </div>

  <!-- header email -->
  <div fxLayout="row" fxLayoutAlign="start center" class="ml-2">
    <mat-icon>mail_outline</mat-icon>
    <span class="mx-2">info@skywave.com</span>
  </div>
</div>
