<!-- Contact page background image -->
<app-header-image
  [backgroundImage]="backgroundImageForContactImg"
  [title]="titleForContactImg"
  [desc]="DescForContactImg"
>
</app-header-image>

<div class="px-3">
  <div class="theme-container">
    <!-- mat-card starts -->
    <mat-card class="mat-card-style pt-5" fxLayoutAlign="center center">
      <mat-card-content>
        <!-- contact details -->
        <div class="contact-bar mb-5" fxLayout.xs="column">
          <!-- Address details -->
          <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
            <mat-icon color="primary">home</mat-icon>
            <span class="primary-color bold">Address:</span>
            <span>2903 Avenue Z, MG Marg, DL, India</span>
          </div>
          <!-- Phone details -->
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <mat-icon color="primary">call</mat-icon>
            <span class="primary-color bold">Phones:</span>
            <span>(+91) 9876543210</span>
            <span>(+91) 9876543210</span>
          </div>
          <!-- E-mail details -->
          <div fxLayout="column" fxFlex fxLayoutAlign="center center">
            <mat-icon color="primary">email</mat-icon>
            <span class="primary-color bold">Email:</span>
            <span>contact@skywave.com</span>
            <span>info@skywave.com</span>
          </div>
        </div>

        <div fxLayoutGap="2%" fxLayout.xs="column">
          <div fxFlex>
            <!-- Get in touch form title -->
            <mat-card-title
              fxLayout="column"
              class="secondary-font primary-color"
              fxLayoutAlign="center center"
            >
              Get In Touch
            </mat-card-title>
            <!-- Get in touch form starts -->
            <form
              [formGroup]="contactForm"
              (ngSubmit)="onContactFormSubmit()"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <!-- Get in touch form name field -->
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name*</mat-label>
                <input matInput autocomplete="off" formControlName="name" />
              </mat-form-field>
              <!-- Get in touch form Email field -->
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email*</mat-label>
                <input matInput autocomplete="off" formControlName="email" />
              </mat-form-field>
              <!-- Get in touch form Phone field -->
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Phone*</mat-label>
                <input matInput autocomplete="off" formControlName="phone" />
              </mat-form-field>
              <!-- Get in touch form Message field -->
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Message*</mat-label>
                <textarea
                  matInput
                  placeholder="Message"
                  formControlName="message"
                  rows="5"
                ></textarea>
              </mat-form-field>
              <!-- submit button -->
              <button
                mat-raised-button
                color="primary"
                id="submitButton"
                type="submit"
              >
                submit
              </button>
            </form>
            <!-- Get in touch form ends -->
          </div>
          <!-- About-1 image -->
          <div fxFlex>
            <img class="image" src="assets/images/others/about-1.jpg" alt="about-1" />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- mat-card ends -->
  </div>
</div>
